<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Coming Soon | Devin DIGITAL</title>
        <link rel='stylesheet' type='text/css' href='stylesheets/temp.css'>
    </head>
    <body>
        <div id='container'>
            <h1>< Devin Digital /></h1>
            <h2>Coming soon!</h2>
            <p id='email'><a href='mailto:riegledevin@gmail.com'>Email me!</a></p>
            <p><a href='/site'>Check out the new site preview!</a></p>
        </div>
        
    </body>
</html>